./server/.phpunit.cache
./server/node_modules
./server/public/build
./server/public/hot
./server/public/storage
./server/storage/*.key
./server/vendor
./server/.env
./server/.env.backup
./server/.env.production
./server/.phpactor.json
./server/.phpunit.result.cache
./server/Homestead.json
./server/Homestead.yaml
./server/auth.json
./server/npm-debug.log
./server/yarn-error.log
./server/.fleet
./server/.idea
./server/.vscode
./server/.zed